<ion-content>
  <div class="header">
    <h3>Penerimaan Peserta Didik Baru <span>SMK Negeri 2 Kota Bogor</span></h3>
    <h1>Silahkan Login untuk Lanjut!</h1>
  </div>
  <div class="form">
    <ion-input type="email" placeholder="Email" value="jack@email.com">
      <ion-icon name="person"></ion-icon>
    </ion-input>
    <ion-input type="password" placeholder="Password">
      <ion-icon name="lock-closed"></ion-icon>
    </ion-input>
      <h3>Lupa Password?</h3>
  </div>
  <div class="button"  routerLink="/monitoring">
    Login <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>
  <div class="footer">
    <h3>https://www.smkn2bogor.sch.id</h3>
  </div>
</ion-content>
